In [1]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Flatten, LSTM, Conv1D, MaxPooling1D, Dropout, Activation
from keras.layers.embeddings import Embedding

import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)
import matplotlib as plt

import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

import re
import string
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE

In [2]:
df = pd.read_csv('Processed_Data.csv',lineterminator='\n')
df

        Unnamed: 0  ...                                   processed_tweets
0                0  ...  aussie would happy series happen midst olympic...
1                1  ...  worst thing olympics finish whole week availab...
2                2  ...  olympics play india hockey captain ranirampal ...
3                3  ...  see best moment tokyo close ceremony videoelep...
4                4  ...  fabulous olympics lovethebbc tokyo olympics bb...
...            ...  ...                                                ...
140242      140242  ...  congratulation winner participant olympics win...
140243      140243  ...                    hope wrong see tweet government
140244      140244  ...  tokyo pass baton paris strangest ever olympic ...
140245      140245  ...  paris plan deliver inclusive youth centre gend...
140246      140246  ...  tokyo game could yet positive legacy despite u...

[140247 rows x 6 columns]

In [3]:
df = df.dropna()
df

        Unnamed: 0  ...                                   processed_tweets
0                0  ...  aussie would happy series happen midst olympic...
1                1  ...  worst thing olympics finish whole week availab...
2                2  ...  olympics play india hockey captain ranirampal ...
3                3  ...  see best moment tokyo close ceremony videoelep...
4                4  ...  fabulous olympics lovethebbc tokyo olympics bb...
...            ...  ...                                                ...
140242      140242  ...  congratulation winner participant olympics win...
140243      140243  ...                    hope wrong see tweet government
140244      140244  ...  tokyo pass baton paris strangest ever olympic ...
140245      140245  ...  paris plan deliver inclusive youth centre gend...
140246      140246  ...  tokyo game could yet positive legacy despite u...

[139715 rows x 6 columns]

In [4]:
def ratio(x):
  if x=='Positive':
    return 1
  elif x=='Negative':
    return 2
  else:
    return 0;

In [5]:
df['label'] = df['class'].apply(ratio)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Unnamed: 0  ... label
0           0  ...     1
1           1  ...     2
2           2  ...     0
3           3  ...     1
4           4  ...     1

[5 rows x 7 columns]

In [6]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [7]:
df['processed_tweets'] = df['processed_tweets'].astype(str)
x = df['processed_tweets']
y = df['label']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
vocabulary_size = 20000
tokenizer = Tokenizer(num_words= vocabulary_size)
tokenizer.fit_on_texts(x)

sequences = tokenizer.texts_to_sequences(x)
data = pad_sequences(sequences, maxlen=50)

In [9]:
data.shape

(139715, 50)

In [10]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import confusion_matrix, accuracy_score

In [11]:
x_train,x_test,y_train,y_test = tts(data,y,test_size = 0.2)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(111772, 50)
(27943, 50)
(111772,)
(27943,)

In [12]:
model_lstm = Sequential()
model_lstm.add(Embedding(20000, 100, input_length=50))
model_lstm.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
model_lstm.add(Dense(3, activation='softmax'))
model_lstm.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [13]:
model_lstm.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 50, 100)           2000000
_________________________________________________________________
lstm (LSTM)                  (None, 100)               80400
_________________________________________________________________
dense (Dense)                (None, 3)                 303
=================================================================
Total params: 2,080,703
Trainable params: 2,080,703
Non-trainable params: 0
_________________________________________________________________

10 EPCOHS

In [14]:
model_lstm.fit(x_train, y_train, validation_split=0.2, epochs=10)

Epoch 1/10
2795/2795 [==============================] - 364s 129ms/step - loss: 0.3959 - accuracy: 0.8584 - val_loss: 0.3036 - val_accuracy: 0.8962
Epoch 2/10
2795/2795 [==============================] - 361s 129ms/step - loss: 0.2553 - accuracy: 0.9133 - val_loss: 0.2933 - val_accuracy: 0.9028
Epoch 3/10
2795/2795 [==============================] - 361s 129ms/step - loss: 0.2009 - accuracy: 0.9319 - val_loss: 0.3081 - val_accuracy: 0.9028
Epoch 4/10
2795/2795 [==============================] - 362s 129ms/step - loss: 0.1586 - accuracy: 0.9449 - val_loss: 0.3326 - val_accuracy: 0.8999
Epoch 5/10
2795/2795 [==============================] - 360s 129ms/step - loss: 0.1245 - accuracy: 0.9573 - val_loss: 0.3504 - val_accuracy: 0.9003
Epoch 6/10
2795/2795 [==============================] - 360s 129ms/step - loss: 0.1019 - accuracy: 0.9651 - val_loss: 0.3875 - val_accuracy: 0.8966
Epoch 7/10
2795/2795 [==============================] - 361s 129ms/step - loss: 0.0828 - accuracy: 0.9721 - val_loss: 0.4467 - val_accuracy: 0.8959
Epoch 8/10
2795/2795 [==============================] - 362s 130ms/step - loss: 0.0692 - accuracy: 0.9765 - val_loss: 0.4950 - val_accuracy: 0.8923
Epoch 9/10
2795/2795 [==============================] - 360s 129ms/step - loss: 0.0587 - accuracy: 0.9801 - val_loss: 0.5448 - val_accuracy: 0.8935
Epoch 10/10
2795/2795 [==============================] - 361s 129ms/step - loss: 0.0486 - accuracy: 0.9836 - val_loss: 0.5691 - val_accuracy: 0.8962

In [15]:
model_lstm.evaluate(x_test, y_test)

874/874 [==============================] - 13s 15ms/step - loss: 0.5565 - accuracy: 0.8978

[0.5565469264984131, 0.8977561593055725]