In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Getting the Processed Dataset

In [2]:
df = pd.read_csv('Processed_Data.csv',lineterminator='\n')
df

        Unnamed: 0  ...                                   processed_tweets
0                0  ...  aussie would happy series happen midst olympic...
1                1  ...  worst thing olympics finish whole week availab...
2                2  ...  olympics play india hockey captain ranirampal ...
3                3  ...  see best moment tokyo close ceremony videoelep...
4                4  ...  fabulous olympics lovethebbc tokyo olympics bb...
...            ...  ...                                                ...
140242      140242  ...  congratulation winner participant olympics win...
140243      140243  ...                    hope wrong see tweet government
140244      140244  ...  tokyo pass baton paris strangest ever olympic ...
140245      140245  ...  paris plan deliver inclusive youth centre gend...
140246      140246  ...  tokyo game could yet positive legacy despite u...

[140247 rows x 6 columns]

In [3]:
df = df.dropna()
df

        Unnamed: 0  ...                                   processed_tweets
0                0  ...  aussie would happy series happen midst olympic...
1                1  ...  worst thing olympics finish whole week availab...
2                2  ...  olympics play india hockey captain ranirampal ...
3                3  ...  see best moment tokyo close ceremony videoelep...
4                4  ...  fabulous olympics lovethebbc tokyo olympics bb...
...            ...  ...                                                ...
140242      140242  ...  congratulation winner participant olympics win...
140243      140243  ...                    hope wrong see tweet government
140244      140244  ...  tokyo pass baton paris strangest ever olympic ...
140245      140245  ...  paris plan deliver inclusive youth centre gend...
140246      140246  ...  tokyo game could yet positive legacy despite u...

[139715 rows x 6 columns]

In [4]:
def ratio(x):
  if x=='Positive':
    return 1
  elif x=='Negative':
    return 2
  else:
    return 0;

In [5]:
df['label'] = df['class'].apply(ratio)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Unnamed: 0  ... label
0           0  ...     1
1           1  ...     2
2           2  ...     0
3           3  ...     1
4           4  ...     1

[5 rows x 7 columns]

In [6]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [7]:
df['processed_tweets'] = df['processed_tweets'].astype(str)
x = df['processed_tweets']
y = df['label']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
num_words = 8000
embed_dim = 32
tokenizer = Tokenizer(num_words=num_words,oov_token = "<oov>" )
tokenizer.fit_on_texts(x)
word_index=tokenizer.word_index
sequences = tokenizer.texts_to_sequences(x)
length=[]
for i in sequences:
    length.append(len(i))
print(len(length))
print("Mean is: ",np.mean(length))
print("Max is: ",np.max(length))
print("Min is: ",np.min(length))

139715
Mean is:  9.298965751708836
Max is:  24
Min is:  1

In [9]:
pad_length = 24
sequences = pad_sequences(sequences, maxlen = pad_length, truncating = 'pre', padding = 'post')
sequences.shape

(139715, 24)

In [10]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import confusion_matrix, accuracy_score

In [11]:
x_train,x_test,y_train,y_test = tts(sequences,y,test_size = 0.2)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(111772, 24)
(27943, 24)
(111772,)
(27943,)

In [12]:
from keras.layers import Dense, Embedding, Dropout , Activation, Flatten, SimpleRNN
from keras.layers import GlobalMaxPool1D
from keras.models import Model, Sequential
import tensorflow as tf

In [13]:
recall = tf.keras.metrics.Recall()
precision = tf.keras.metrics.Precision()

model = Sequential([Embedding(num_words, embed_dim, input_length = pad_length),
                   SimpleRNN(8, return_sequences = True),
                   GlobalMaxPool1D(),
                   Dense(20,activation = 'relu',kernel_initializer='he_uniform'),
                   Dropout(0.25),
                   Dense(3,activation = 'softmax')])
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 24, 32)            256000
_________________________________________________________________
simple_rnn (SimpleRNN)       (None, 24, 8)             328
_________________________________________________________________
global_max_pooling1d (Global (None, 8)                 0
_________________________________________________________________
dense (Dense)                (None, 20)                180
_________________________________________________________________
dropout (Dropout)            (None, 20)                0
_________________________________________________________________
dense_1 (Dense)              (None, 3)                 63
=================================================================
Total params: 256,571
Trainable params: 256,571
Non-trainable params: 0
_________________________________________________________________

10 EPOCHS

In [14]:
history = model.fit(x = x_train, y = y_train, epochs = 10,validation_split = 0.2)

Epoch 1/10
2795/2795 [==============================] - 129s 45ms/step - loss: 0.5772 - accuracy: 0.7906 - val_loss: 0.4665 - val_accuracy: 0.8304
Epoch 2/10
2795/2795 [==============================] - 123s 44ms/step - loss: 0.4290 - accuracy: 0.8560 - val_loss: 0.3878 - val_accuracy: 0.8757
Epoch 3/10
2795/2795 [==============================] - 119s 43ms/step - loss: 0.3303 - accuracy: 0.8979 - val_loss: 0.3429 - val_accuracy: 0.8892
Epoch 4/10
2795/2795 [==============================] - 121s 43ms/step - loss: 0.2766 - accuracy: 0.9162 - val_loss: 0.3399 - val_accuracy: 0.8901
Epoch 5/10
2795/2795 [==============================] - 123s 44ms/step - loss: 0.2424 - accuracy: 0.9258 - val_loss: 0.3359 - val_accuracy: 0.8945
Epoch 6/10
2795/2795 [==============================] - 120s 43ms/step - loss: 0.2201 - accuracy: 0.9338 - val_loss: 0.3424 - val_accuracy: 0.8909
Epoch 7/10
2795/2795 [==============================] - 122s 44ms/step - loss: 0.2017 - accuracy: 0.9394 - val_loss: 0.3567 - val_accuracy: 0.8901
Epoch 8/10
2795/2795 [==============================] - 122s 44ms/step - loss: 0.1878 - accuracy: 0.9440 - val_loss: 0.3694 - val_accuracy: 0.8864
Epoch 9/10
2795/2795 [==============================] - 123s 44ms/step - loss: 0.1751 - accuracy: 0.9470 - val_loss: 0.3823 - val_accuracy: 0.8883
Epoch 10/10
2795/2795 [==============================] - 125s 45ms/step - loss: 0.1646 - accuracy: 0.9507 - val_loss: 0.3995 - val_accuracy: 0.8857

In [16]:
model.evaluate(x_test, y_test)

874/874 [==============================] - 5s 5ms/step - loss: 0.3782 - accuracy: 0.8910

[0.3781889081001282, 0.8909565806388855]